<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Number of visits</title>
</head>
<body>
  <h1>Hello ! This is your visit number : {{ app.session.get('nbVisits') }}</h1>
</body>
</html>
